#root {
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo.net:hover {
  filter: drop-shadow(0 0 2em #664bb3aa);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2em;
}

.btnProductos{
  background-color: #ffffff;
  color: black;
  border-radius: 8px;
  padding: 0.5em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
.btnProductos:hover {
  background-color: #d6ff64;
  color: black;
}

.btnTransacciones{
  background-color: #ffffff;
  color: black;
  border-radius: 8px;
  padding: 0.5em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
.btnTransacciones:hover {
  background-color: #64d6ff;
  color: black;
}

.listaProductos{
  display: flex;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
